@media (min-width: 600px) {
  h1 {
    text-align: center;
  }
  .header-img_container,
  .header-img {
    height: 40vh;
  }
  .content-container img {
    width: 500px;
  }
  .smaller-content-container__text {
    text-align: left;
  }
  .content-container,
  .smaller-content-container,
  .color-content-container {
    max-width: 500px;
  }
  /* home page */
  .virtual-reality .smaller-content-container__text {
    text-align: center;
  }
  /*explorer page */
  .involved_header-p {
    margin: auto;
    max-width: 70%;
  }
  .explore__info {
    flex-direction: row;
    max-width: 900px;
    margin: 70px 70px;
  }
  .explore__info img {
    width: 350px;
    height: 350px;
  }
  /* events page */
  .aeronautics img {
    min-width: 500px;
  }
  /* visit-page */
  .visit-info {
    flex-direction: row;
  }
  .hours-h2,
  .visit_hours-p,
  .visit_hours-sticky h3 {
    justify-content: center;
  }
  /* get involved page */
  .involved_main-section .involved-container {
    flex-direction: row;
  }
  .internship-container {
    border: 2px solid var(--quinary-color);
  }
  .involved_reversed-container_img {
    min-height: 300px;
  }
}

@media (min-width: 900px) {
  .header-img_container,
  .header-img {
    height: 65vh;
  }
  h1 {
    font-size: 2.2em;
    text-align: left;
  }
  h2,
  h3 {
    font-size: 1.4em;
  }
  p,
  .p-sized-h {
    font-size: 1.12em;
  }
  .cta {
    padding: 12px 35px;
  }

  .color-content-container,
  .content-container {
    flex-direction: row;
    max-width: none;
    min-height: 385px;
  }
  .smaller-content-container {
    flex-direction: row-reverse;
    max-width: 800px;
  }
  .content-container {
    justify-content: space-evenly;
    gap: 50px;
    margin: 50px 0px;
    border: none;
  }
  .content-container_text {
    margin: 0px;
  }
  .smaller-content-container__text,
  .color-content-container_text,
  .content-container_text {
    text-align: left;
  }
  .smaller-content-container__text,
  .color-content-container_text {
    margin: auto;
  }
  .color-content-container_text {
    padding: 0px 10px;
  }
  .content-container_text .cta {
    align-self: flex-start;
    margin: 20px 0px 0px 0px;
  }
  .color-content-container img,
  .content-container img {
    height: 385px;
  }
  .contact_involved_hours {
    display: block;
  }

  /*explore page*/
  .involved_header-p {
    max-width: 100%;
  }

  .explore__info {
    gap: 100px;
    margin: 50px auto;
    padding-bottom: 20px;
  }
  .explore__info img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
  }
  /* exhibition page */
  .border-radius_exhibition_img {
    border-radius: 16px;
  }
  /* special events page */
  .events_section .aeronautics {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .aeronautics img {
    min-width: 400px;
  }

  /* visit page */
  .visit_flex-container {
    flex-direction: row;
  }
  .hours-h2 {
    justify-content: left;
  }
  .visit-hours h2 {
    padding-top: 0px;
  }
  .visit_hours-p {
    display: block;
  }
  .visit_hours-sticky h3 {
    text-align: left;
  }
  /* contact-page */
  .contact-info_container {
    flex-direction: row;
    gap: 50px;
  }
  .contact-form button {
    max-width: 196px;
  }
  .contact-message {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  header {
    flex-direction: row;
    align-items: baseline;
  }
  header,
  .content-container {
    justify-content: space-between;
  }
  header label {
    display: none;
  }
  nav,
  .search,
  .hours {
    display: block;
  }
  nav,
  .search {
    position: relative;
    z-index: 1000;
    animation: none;
  }
  nav {
    top: -5px;
    left: 0px;
  }
  nav a {
    display: inline;
    padding: 0px 10px;
  }
  .search {
    padding: 0;
    border: none;
    top: -8px;
    right: 0;
  }

  .search {
    order: 3;
  }
  .main-section {
    padding: 0px;
  }
  .color-content-container,
  .content-container {
    margin-right: 25px;
  }
  .div_container_img {
    width: 490px;
  }
  /* special event page */
  .dinosaur_img {
    object-position: center -2em;
  }
  /*explore page */
  .explore__info {
    margin: 50px 0px;
  }
  .events_section .aeronautics {
    margin: 50px 25px 50px 0px;
  }
  /* visit page */
  .visit_header-img_object {
    object-position: center;
  }
  .visit-info {
    padding: 50px 50px 50px 0px;
  }
  /* involved page */
  .involved_main-section .smaller-content-container {
    max-width: 1000px;
    padding: 0px 20px 0px 0px;
  }
}
