@media (min-width: 600px) {
  .header-img {
    height: 55vh;
  }
  /*explorer page */
  .explore__info {
    flex-direction: row;
    max-width: 900px;
    margin: 70px 70px;
  }
  .explore__info img {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 900px) {
  .header-img {
    height: 65vh;
  }
  h1 {
    font-size: 2.2em;
  }
  h2,
  h3 {
    font-size: 1.4em;
  }
  .h3,
  p {
    font-size: 1.12em;
  }
  .cta {
    padding: 12px 35px;
  }
  .color-content-container {
    flex-direction: row;
    max-width: none;
  }
  .reverse-container {
    flex-direction: row-reverse;
    max-width: 800px;
  }
  .reverse-container__text,
  .color-content-container_text {
    margin: auto;
    text-align: left;
  }
  /* homepage*/
  .t-rex_img {
    min-height: 385px;
  }
  /*explore page*/

  .explore__info {
    gap: 100px;
    margin: 50px auto;
    padding-bottom: 20px;
  }
  .explore__info img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
  }
  .explore_header-img {
    object-position: center -2em;
  }
}
@media (min-width: 1200px) {
  header {
    flex-direction: row;
    align-items: baseline;
  }
  header label {
    display: none;
  }
  nav,
  .search {
    display: block;
    position: relative;
    z-index: 1000;
  }
  nav {
    top: -5px;
  }
  nav a {
    display: inline;
    padding: 0px 10px;
  }
  .search {
    padding: 0;
    border: none;
    top: -8px;
  }
  .nav_flex-2 {
    order: 0;
  }
  .logo {
    order: 0;
  }
  .hours {
    display: block;
  }
  .main-section {
    padding: 0;
  }
  /*explore page */
  .explore__info {
    margin: 50px 0px;
  }
}
