@import "imports/variables.css";
@import "imports/links.css";
@import "imports/typography.css";

body {
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
  object-fit: cover;
}
main img {
  display: block;
}
.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
/* header and footer */
header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--quinary-color);
  padding: 10px 15px 0px 15px;
  flex-direction: row-reverse;
}
footer {
  border-top: 2px solid var(--quinary-color);
  padding-top: 5px;
}
nav {
  display: none;
  position: fixed;
  background-color: var(--quaternary-color);
  z-index: 1001;
}
nav a {
  display: block;
  font-family: "roboto";
  text-decoration: none;
  padding: 15px 35px;
  color: var(--quinary-color);
}
nav a:hover {
  text-decoration: underline;
}
nav,
nav a,
.search,
.search button {
  animation: 0.5s forwards;
  transition-property: all;
}
nav,
nav a {
  animation-name: show-nav;
  left: -300px;
}

@keyframes show-nav {
  100% {
    left: 0px;
  }
}
#hamburger-menu,
#search-icon,
.search {
  display: none;
}
#hamburger-menu:checked ~ nav,
#search-icon:checked ~ .search {
  display: block;
}
.search,
.search button {
  background-color: var(--quaternary-color);
}
.search,
.search input {
  border: solid var(--quinary-color);
}
.search input,
.search button {
  border: 1px solid;
  padding: 5px;
}
.search {
  position: fixed;
  top: 68px;
  right: -300px;
  border: 2px solid;
  padding: 10px 5px;
  animation-name: show-search;
  z-index: 1000;
}
@keyframes show-search {
  100% {
    right: 0px;
  }
}

.search button {
  font-family: var(--font-heading), "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  text-transform: capitalize;
  color: var(--quaternary-color);
  background-color: var(--quinary-color);
}
.search button:hover {
  animation-name: search;
}
@keyframes search {
  100% {
    color: var(--quinary-color);
    background-color: var(--quaternary-color);
  }
}
.logo {
  order: 1;
  margin-bottom: 0px;
}
.nav_flex-2 {
  order: 2;
}

/* main*/
.header-img_container {
  height: 30vh;
  width: 100%;
  overflow: hidden;
}
.header-img {
  width: 100%;
  height: 30vh;
  animation: zoom 15s ease infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.flex-container {
  max-width: 1250px;
  margin: auto;
  padding: 0px 15px;
}
.main-section {
  flex: 6;
  padding: 0px 15px;
}
.top-container {
  margin-top: 50px;
}
.hours {
  padding: 20px;
  display: none;
}
.hours-sticky {
  position: sticky;
  top: 1rem;
}
.hours-h2 {
  flex-direction: row-reverse;
  justify-content: left;
  gap: 10px;
}
.hours-p {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.hours h3 {
  margin-top: 20px;
}
/* colors for containers*/
.primary-color_container {
  background-color: var(--primary-color);
}

.secondary-color_container {
  background-color: var(--secondary-color);
}
.tertiary-color_container {
  background-color: var(--tertiary-color);
}
.quinary-color_container {
  background-color: var(--quinary-color);
}
.quaternary-color {
  color: var(--quaternary-color);
}

/* containers */

.smaller-content-container {
  gap: 50px;
  padding: 0px 15px;
}
.content-container {
  border: 2px solid var(--quinary-color);
}
.content-container,
.smaller-content-container {
  margin: 70px auto;
}

.color-content-container > *,
.smaller-content-container > * {
  flex: 1;
}
.color-content-container,
.content-container {
  min-height: 660px;
  justify-content: space-between;
}
.color-content-container img,
.content-container img {
  height: 330px;
}

.smaller-content-container img {
  border-radius: 20px;
}

.content-container,
.smaller-content-container,
.color-content-container {
  max-width: 430px;
  align-items: center;
  flex-direction: column-reverse;
}

.color-content-container {
  margin: auto;
}

.color-content-container_text,
.content-container_text {
  max-width: 430px;
  margin: 15px 15px;
  padding-bottom: 10px;
}
.color-content-container_text p,
.smaller-content-container p,
.content-container p {
  text-align: left;
  margin: 25px 0px;
}

.color-content-container_text .cta {
  margin-top: 5px;
}

/* home page */
.index_header-img {
  object-position: left;
}
.virtual-reality p {
  text-align: left;
}
.museum-info h2 {
  text-align: center;
  margin-top: 70px;
}
.museum-info img {
  height: 300px;
}

.museum-info .smaller-content-container {
  margin-top: 30px;
}

/* explore page */
.explore__info {
  flex-direction: column-reverse;
  max-width: 400px;
  gap: 20px;
  margin: 50px auto;
}
.explore__info > * {
  flex: 1;
  margin: auto;
}
.explore__info img {
  border-radius: 10px;
  height: 350px;
  width: 247px;
}

.explore__info p {
  text-align: left;
  margin: 30px 0px;
}

/* Special events page */
.events_section {
  margin-bottom: 50px;
}
.events_section .aeronautics {
  flex-direction: column-reverse;
  border: 2px solid var(--quinary-color);
  margin: 50px auto;
}
/* visit page */
.visit-h1 {
  margin-bottom: 0px;
}
.visit-info {
  flex-direction: column;
  border-bottom: 1px solid var(--quinary-color);
  margin-bottom: 0px;
  padding: 50px 20px;
  gap: 30px;
}
.visit-info > * {
  flex: 1;
}
.visit_info-text p {
  margin-top: 0px;
}
.visit_info-text h2 {
  margin-bottom: 10px;
  text-decoration: underline;
}
.visit_flex-container {
  flex-direction: column-reverse;
  padding: 0;
}
.visit_bottom-container {
  border-bottom: none;
}
.visit-hours {
  display: block;
}
.visit-hours h2 {
  padding-top: 4px;
}
.visit_hours-p {
  gap: 30px;
}

/* get involved page */
.involved-h1 p {
  margin: 2px;
}
/* contant us page */
.contact-us_h1 {
  margin-bottom: 20px;
}
.contact-info_container {
  flex-direction: column;
}
.contact-info {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  max-width: 400px;
}
.contact-message {
  margin: 20px 0px;
}

.contact-i {
  font-size: 1.5em;
}
.mail-i {
  padding-top: 2px;
}
.contact-form {
  border: solid 2px var(--quinary-color);
  padding: 40px 15px;
  flex-direction: column;
  max-width: 700px;
}
textarea {
  height: 183px;
}
.contact-form input,
textarea {
  margin-bottom: 20px;
  padding: 10px 0px;
}
.contact-form button {
  display: block;
  max-width: 166px;
  background-color: #fff;
}
