@import "imports/variables.css";
@font-face {
  font-family: "ebrima";
  src: url(/fonts/ebrimabd.ttf) format("truetype");
}

h1,
h2,
h3 {
  font-family: var(--font-heading), Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 1.8em;
  margin: 5px 0px;
}
h2,
h3 {
  margin-top: 0px;
  font-size: 1.2em;
}
.h3 {
  font-weight: bold;
}
.h3,
p {
  font-size: 1em;
}
.p-gray {
  color: #545454;
}
q {
  font-weight: bold;
}
body {
  font-family: var(--font-paragraph), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
  object-fit: cover;
}
main img {
  display: block;
}
.flex {
  display: flex;
}
/* header and footer */
header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 10px 15px 0px 15px;
  flex-direction: row-reverse;
}
footer {
  text-align: center;
  border-top: 2px solid #000;
  padding-top: 5px;
}
nav {
  display: none;
  position: fixed;
  background-color: #fff;
}
nav a {
  display: block;
  font-family: "roboto";
  text-decoration: none;
  padding: 15px 35px;
  color: #000;
}
nav,
nav a {
  animation: show-nav 0.5s forwards;
  transition-property: all;
  left: -300px;
}
@keyframes show-nav {
  100% {
    left: 0px;
  }
}
#hamburger-menu,
#search-icon,
.search {
  display: none;
}
#hamburger-menu:checked ~ nav,
#search-icon:checked ~ .search {
  display: block;
}
.search {
  position: fixed;
  top: 68px;
  right: -300px;
  border: 2px solid #000;
  padding: 10px 5px;
  background-color: #fff;
  animation: show-search 0.5s forwards;
  transition-property: all;
}
@keyframes show-search {
  100% {
    right: 0px;
  }
}
.search input {
  border: 1px solid #000;
  padding: 5px;
}
.search button {
  font-family: var(--font-heading), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
}
.logo {
  order: 1;
  margin-bottom: 0px;
}
.nav_flex-2 {
  order: 2;
}

/* main*/
.header-img {
  width: 100%;
  height: 30vh;
}
.flex-container {
  max-width: 1250px;
  margin: 0 auto;
}
.main-section {
  flex: 6;
  padding: 0 15px;
}
.top-container {
  margin-top: 50px;
}

.h1 {
  border-bottom: 2px solid gray;
  margin-bottom: 50px;
}
.hours {
  padding: 20px;
  display: none;
}
.hours-sticky {
  position: sticky;
  top: 1rem;
}
.hours-h2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 10px;
}
.hours-p {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.hours h3 {
  margin-top: 20px;
}
/* colors for containers*/
.orange-container {
  background-color: #c44f00;
}

.blue-container {
  background-color: #0b0073;
}
.green-container {
  background-color: #008297;
}
.color-white {
  color: #fff;
}

/* containers */

.reverse-container {
  gap: 50px;
  padding: 0px 15px;
}
.white-container {
  border: 2px solid black;
}
.white-container,
.reverse-container {
  margin: 70px auto;
}

.content-container > *,
.reverse-container > * {
  flex: 1;
}
.content-container,
.white-container {
  min-height: 660px;
  justify-content: space-between;
}
.content-container img,
.white-container img {
  height: 330px;
}

.reverse-container img {
  border-radius: 20px;
}

.white-container,
.reverse-container,
.content-container {
  max-width: 500px;
  align-items: center;
  flex-direction: column-reverse;
}

.content-container {
  margin: auto;
}

.content-container_text,
.white-container_text {
  max-width: 430px;
  text-align: center;
  margin: 15px 15px;
  padding-bottom: 10px;
}
.content-container_text p,
.reverse-container p,
.white-container p {
  text-align: left;
  margin: 25px 0px;
}

.content-container_text .cta {
  margin-top: 5px;
}

/*links*/
.current {
  text-decoration: underline;
}
.black-cta {
  border: #000;
  color: #000;
}
.color-cta {
  border: #fff;
  color: #fff;
}
.cta {
  display: inline-block;
  border: 2px solid;
  padding: 8px 20px;
  border-radius: 8px;
  text-decoration: none;
  min-width: 125.9px;
  text-align: center;
  transition: all ease-in 0.5s;
}
.cta:hover {
  background-color: #fff;
}
.orange-cta:hover {
  color: #c44f00;
}
.black-cta:hover {
  background-color: #000;
  color: #fff;
}
.blue-cta:hover {
  color: #0b0073;
}
.green-cta:hover {
  color: #008297;
}

/* home page */
.virtual-reality {
  text-align: center;
}
.virtual-reality p {
  text-align: left;
}
.museum-info h2 {
  text-align: center;
  margin-top: 70px;
}
.museum-info img {
  height: 300px;
}

.museum-info .reverse-container {
  margin-top: 30px;
}

/* explore page */
.explore__info {
  flex-direction: column-reverse;
  max-width: 400px;
  gap: 20px;
  margin: 50px auto;
}
.explore__info > * {
  flex: 1;
  margin: auto;
}
.explore__info img {
  border-radius: 10px;
  height: 350px;
  width: 247px;
}

.explore__info p {
  text-align: left;
  margin: 30px 0px;
}
.explore_reverse-container__text {
  text-align: center;
}

/* Special events page */
#aeronautics {
  flex-direction: column-reverse;
  border: 2px solid #000;
  margin: 50px auto;
}
.events_section {
  margin-bottom: 50px;
}
